@import "tailwindcss";

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueLTProRoman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueLTProBd.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueLTProLt.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #1d1d1b;
  --primary-fucsia: #fc56ae;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-fucsia);
  --font-sans: 'HelveticaNeue', ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

